@tailwind base;
@tailwind components;
@tailwind utilities;
.flex-col-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
}
#app {
  width: 100%;
  text-align: center;
}

.custom-select-font-size .n-base-selection-label {
  @apply text-xl;
}

.n-base-select-menu .n-base-select-option {
  @apply text-xl;
}

.n-base-select-menu .n-base-select-group-header {
  @apply text-base;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
