@tailwind base;
@tailwind components;
@tailwind utilities;
.flex-col-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
}

#app {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.custom-select-font-size .n-base-selection-label {
  @apply text-xl;
}

.n-base-select-menu .n-base-select-option {
  @apply text-xl;
}

.n-base-select-menu .n-base-select-group-header {
  @apply text-base;
}

body {
  width: 100%;
  height: 100%;
}

:root {
  background: url("") no-repeat center center fixed;
  background-color: #eeeeee;
  background-size: cover;
  height: 100%;
}
a:hover {
  color: #747bff;
}
button {
  background-color: #f9f9f9;
}
